{% extends "personal/blogskeleton.html" %}

{% block content %}
	{% for post in object_list %}
	<h3>{{ post.date|date:"Y-m-d" }}<a href="/blog/{{post.id}}">  {{ post.title }}</a></h3>
	{% endfor %}
{% endblock %}

