{% extends "personal/blogskeleton.html" %}
{% block content %}
<h1><a href="/blog/{{post.id}}">{{ post.title }}</a></h1>
<h6> on {{ post.date }}</h6>

<div class = "container">
	<h4>{{ post.body|safe|linebreaks}}</h4>
</div>
<br><br>
{% endblock %}
