<!DOCTYPE html>
<html lang="en">

<head>
	<title>My Blog</title>
	<meta charset="utf-8" />
	<meta name="description" content="">
    	<meta name="author" content="">

	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css2/clean-blog.min.css' %}" type = "text/css"/>
        <link href="{% static 'personal/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body>

<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Michelle Malixi</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'personal/img/home-bg.jpg' %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Me, Myself, and I</h1>
              <span class="subheading">by Michelle M.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
	   <br><br>
              <h3 class="post-title">
		   {% block content %}
		   {% endblock %}
              </h3>
    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Eternal Bliss 2018</p>
          </div>
        </div>
      </div>
      <div class="container-fluid" style='margin-left:15px'>
		<p><a href="http://www.instagram.com/michmalixi/" target="_blank">Instagram</a> | <a href="http://www.twitter.com/michmlx" target="_blank">Twitter</a> | <a href="http://www.realinfinitethoughts.tumblr.com" target="_blank">Tumblr</a></p>
      </div>
    </footer>	
	
 <!-- Bootstrap core JavaScript -->
    <script src="{% static 'personal/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'personal/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'personal/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'personal/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'personal/js/clean-blog.min.js' %}"></script>

</body>

</html>
